#website-design {
  .wpContainHeader {
    .dvBanner {
      height: 500px;
      width: 100%;
      margin-bottom: 20px;
    }
    .wpTextHeader {
      text-align: center;
      h1 {
        text-transform: uppercase;
        font-size: 36px;
        color:#1f45a8;
        &::after {
          content: "";
          display: block;
          width: 44px;
          height: 4px;
          background: rgba(68, 221, 97, 1);
          margin: 31px auto 29px;
          border-radius: 2px;
        }
      }
      .subTextHeading {
        font-size: 16px;
      }
    }
  }
  .wpTaiSao {
    padding: 100px 20px 40px 20px;
    margin: 0 0 80px 0;
    background: url("../images/temps/thietkeweb_taisao_bg.png") no-repeat center center fixed;
    //background-repeat: no-repeat !important;
    background-size: cover;
    float: left;
    width: 100%;
    img.dvWebTaiSaoImageLeft {
      margin-left: -20px;
      width: 100%;
      height: 100%;
    }
    .textDescribeTaiSao {
      ul {
        li {
          position: relative;
          padding: 4px 8px 4px 15px;
          &::before {
            content: '';
            position: absolute;
            background: url(../images/temps/dvthietkewebsite_taisao_stick.png) center bottom;
            top: 14px;
            left: -20px;
            width: 20px;
            height: 24px;
          }
        }
      }
    }
  }
  .containerChatLuong {
    .groupChatLuong {
      display: flex;
    }
    .swapOneItemChatLuong {
      padding: 0 0 40px 0;
      .imgChatLuong {
        //border-radius: 50%;
        width: 170px;
        height: 170px;
        display: block;
        margin-left: auto;
        margin-right: auto
      }

      h4 {
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        margin-top: 28px;
        margin-bottom: 12px;
      }
      .descriptionChatLuong {
        text-align: center;
      }
    }
  }
  .containerQuyTrinh {
    position: relative;
    width: 100%;
    //z-index: -1;
    .bgQuyTrinh {
      width: 100%;
      height: 100%;
    }
    .swapHeaderQuyTrinh {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      top: 55px;
    }
  }
  #tk-quy-trinh {
    background-color: #f5f8fb;
    padding-top: 70px;
    #tk-noi-dung-quy-trinh {
      .tk-contain-box {
        position: relative;
        border: 1px solid #d8d9db;
        margin-bottom: 40px;
        background-color: white;
        padding: 20px;
        text-align: center;
        .img_icon {
          text-align: center;
          margin-bottom: 20px;
        }
        h3.title {
          font-size: 18px;
          font-weight: 700;
          color: #38454f;
          margin-bottom: 10px;
        }
        .subtitle {
          line-height: 1.6;
          text-align: center;
        }
      }
      .tk-contain-box:before, .tk-contain-box:after {
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      .tk-contain-box:before {
        border-top-color: #d8d9db;
        margin-left: -17px;
        top: 100%;
        left: 50%;
        border-width: 17px;
      }
      .tk-contain-box:after {
        border-top-color: #fff;
        margin-left: -15px;
        top: 100%;
        left: 50%;
        border-width: 15px;
      }
    }
    #tk-noi-dung-proccesses {
      .bar {
        display: block;
        position: relative;
        left: 15%;
        width: 70%;
        top: 50%;
        border-bottom: 1px solid #6ecff5;
      }
      .step-below {
        position: relative;
        text-align: center;
        top: -20px;
      }
    }
    #tk-result {
      h3 {
        font-weight: 700;
        color: #1f45a8;
        font-size: 24px;
        text-align: center;
        margin-top: 60px;
        margin-bottom: 60px;
      }
      .img-site-simple {
        width: 100%;
      }
    }
    #tk-testimonials {
      .chevron {
        padding-left: 130px;
        padding-right: 130px;
        position: relative;
        background: #6ACEF6;
        text-align: center;
        color: #fff;
        font-size: 22px;
        overflow: hidden;
        height: 220px;
        .content {
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          .quote {
            font-weight: 300;
            font-size: 24px;
            line-height: 1.4;
          }
          .author {
            padding-top: 20px;
            font-weight: 700;
            font-size: 18px;
          }
        }
      }
      .chevron:before, .chevron:after {
        border: rgba(255, 255, 255, 0) solid;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        border-width: 110px 70px;
        margin-left: 0;

      }
      .chevron:before {
        top: 0;
        left: 0;
        border-color: #2895d9 rgba(40, 149, 217, 0) rgba(40, 149, 217, .2) rgba(40, 149, 217, .5);
      }
      .chevron:after {
        top: 0;
        right: 0;
        border-color: #2895d9 rgba(40, 149, 217, .5) rgba(40, 149, 217, .2) rgba(40, 149, 217, 0);
      }
    }
  }

}

@media screen and (max-width: 768px) {
  #website-design {
    .wpContainHeader {
      .dvBanner {
        height: 100%;
        width: 100%;
        margin-bottom: 20px;
      }
    }
    .containerQuyTrinh {
      .swapHeaderQuyTrinh {
        h5.sub-heading {
          line-height: 1.6;
        }
        h3.heading {
          font-size: 20px;
        }
      }
      .bgQuyTrinh {
        margin-top: 20px;
      }
    }
    #tk-quy-trinh{
      #tk-noi-dung-quy-trinh{
        .tk-contain-box.on-mobile:before{
          display: none;
        }
        .tk-contain-box.on-mobile:after{
          display: none;
        }
      }
      #tk-noi-dung-proccesses{
        display: none;
      }
      #tk-testimonials{
        .chevron{
          padding: 0;
          .content{
            .quote{
              font-size: 17px;
            }
          }
        }
        .chevron.on-mobile:before,.chevron.on-mobile:after{
         display: none;
        }
      }
      #tk-result{
        h3{
          line-height: 1.4;
        }
      }
    }
  }
}

@media screen and(max-width: 1023px) {
  #website-design {
    .containerChatLuong {
      .groupChatLuong {
        display: block;
      }
      .swapOneItemChatLuong {

      }
    }
    .containerQuyTrinh {
      margin-top: 140px;
      .swapHeaderQuyTrinh {
        top: -120px;
      }
    }

  }
}