@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@font-face {
  font-family: UTMAVO;
  src: url('../fonts/utm-avo.ttf');
}


body {
  //font: 400 14px/20px Roboto,sans-serif!important;
  font-family: 'Open Sans', sans-serif!important;
  line-height: 1.6;
  webkit-font-smoothing: antialiased;
}
#wrap-container{
  //margin-top: 80px;
}
@media screen and(max-width: 768px) {
  #wrap-container{
    margin-top: 0px;
    //margin-bottom: 20px;
  }
}
@import "reset";
@import "common";
@import "fe.fancybox";
@import "menu";
@import "slider";
@import "slider2";
@import "trangchu";
@import "m-category";
@import "m-menu-blur";
@import "fe.googleads";
@import "fe.thietkeweb";
@import "fe.facebookads";
@import "fe.gioithieu";
@import "fe.baogia";
@import "module6";
@import "module8";
@import "module7";
@import "module9";
@import "module10";
@import "module11";
@import "fe.phoneanimation";
@import "pagespeedinsight";
//@import "footer";
@import "footer2";
@import "demo/xulynuocthai";