.wpTheManh {
  padding: 40px 40px 40px 40px;
  //margin: 0 0 80px 0;
  min-height: 650px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
  img {
    position: absolute;
    top: 0;
    left: 0;
    background-size: 100% 100%;
    z-index: -1;
  }

  h1 {
    text-transform: uppercase;
    color: white;
    font-size: 60px;
  }
  h5 {
    color: white;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    margin: 40px 0 40px 0;
  }
  .textDescribeTheManh {
    h3 {
      color: white;
      font-size: 36px;
      margin-top: 27px;
      margin-bottom: 18px;
    }
    ul{
      li{
        color: white;
        margin: 0 0 20px 20px;
        list-style: circle;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
      }
    }
  }
}